
.coursesTitle{

font-family: 'Playfair Display', serif;
font-size: 50px;
margin-bottom: 5px;
}

.description{

    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 15px;
}