.inputField {
    border: 2px solid rgba(175, 114, 241, 0.301);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}