.modal{
        position: absolute;
        top: 150px;
        left: 350px;
        right: 350px;
        bottom: 150px;
        border: 1px solid #ccc;
        background-color: #fff;
        overflow: hidden;
        border-radius: 4px;
        outline: none;
        padding: 50px;

}

.emojiFace{
    height: 100px;
    width: 100px;
}