@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap%27");

.row{
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}
.homeTitle {
  background-color: none;
  text-align: left;
  justify-items: center;
  margin: auto;
  font-family: "Playfair Display", serif;
  background: rgb(175, 114, 241);
  background: linear-gradient(
    5deg,
    rgba(175, 114, 241, 1) 14%,
    rgba(255, 168, 64, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  overflow-wrap: break-word;
}

.homeDescription {
  margin-top: 2%;
  margin-bottom: 35px;
  background-color: none;
  text-align: left;
  justify-items: center;
  font-family: "Quicksand", sans-serif;
  background: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  word-break: break-all;
}

.box-1 {
  background-color: rgba(154, 60, 255, 0.6);
  margin-right: 20px;
  border-radius: 50px;
}

.box-2 {
  border:1px solid rgba(154, 60, 255, 0.6);
  background-color: #fff;
  border-radius: 50px;
}

.btn {
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 1px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.btn-teacher{
  color: rgba(154, 60, 255, 0.6);
}

.btns {
  position: relative;
  margin-top: 5%;
  justify-content: left;
  display: flex;
}
.btnAccount {
  margin-right: 7%;
  padding-right: 1%;
  border-radius: 20%;
  background: rgba(163, 163, 163, 0.397);
  color: rgb(255, 255, 255);
}

.col{
  margin-bottom: 15px;
  margin-right: 15px;
  padding-left: 15px;
  flex:1;
  max-width: 100%; 
  display:flex;
}
.home__hero-text-wrapper{
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.home__hero-img-wrapper{
  max-width: 1300px;
}
.home__hero-img{
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
}

img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
@media screen and (max-width:991px) {
  .container{
    padding-right: 10px;
    padding-left: 30px;
  }
}

@media screen and (max-width:991px) {
  .home__hero-text-wrapper{
    padding-bottom: 65px;
  }

  .col{
    max-width: 100%;
    flex-basis: 100%;
  }

}
@media screen and (max-width:750px) {
  .box-1{
    margin-right: 5px;
  }
} 

