@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap%27');
.homeTitle {

    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Playfair Display',serif;
}