.modalContainer {
  justify-items: center;
}

.modal {
  position: absolute;
  top: 150px;
  left: 350px;
  right: 350px;
  bottom: 150px;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  justify-items: center;
  min-width: 100px;
  min-height: 100px;
  justify-content: center;
}
.emojiGrid {
  position: relative;
  justify-items: center;
  justify-self: center;
}

.emojiFace {
  min-width: 50px;
  min-height: 50px;
  width: 200px;
  height: 200px;

}

.emojiHover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.emojiHover:hover, .emojiHover:focus, .emojiHover:active {
   -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}
