.NavLink {
    text-decoration: underline;
    text-underline-offset: 21px;
    text-decoration-color: #7913bd;
}

.Title {
    color: black;
    justify-content: left;
    font-size: large;
    margin-right: 50px;
}

#AppText {
    color:#a549e3;
}