/* .btn {
    border: none;
    color: white;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
} */

.btn-view {
  background-color: #e7e7e7;
  color: black;
}

.btn-view:hover {
  background-color: #c5c4c4;
}

.nameViewText,
.descriptionViewText,
.durationViewText,
.accessCodeViewText {
  color: rgba(0, 0, 0, 0.719);
}

.emojiGrid {
  padding-top: 20px;
  position: relative;
  justify-items: left;
  justify-self: center;
}

.emojiFace {
  min-width: 40px;
  min-height: 40px;
  width: 100%;
}

.emojiFaceSmall {
  width: 40px!important;
  height: 40px!important;
}
.emojiHover {
  width: 100%;
}

.addButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  background-color: rgba(123, 0, 255, 0.507);
  margin-top: 20px;
}

.addButton:hover {
  background-color: rgba(123, 0, 255, 0.815);
}

.inputField {
  border: 2px solid rgba(175, 114, 241, 0.301);
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

.btn-add {
  background-color: #a549e3;
  color: white;
}
