.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgba(175, 114, 241, 0.767);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table td button {
    width: 100px;
    height: 40px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(255, 255, 255, 0.815);
}

.btn {
    border: none;
    color: white;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-view {
    background-color: #e7e7e7;
    color: black;
}

.btn-view:hover {
    background-color: #c5c4c4;
}

.nameViewText,
.descriptionViewText,
.durationViewText,
.accessCodeViewText {
    color:rgba(0, 0, 0, 0.719)
}

.emojiGrid {
    padding-top: 20px;
    position: relative;
    justify-items: left;
    justify-self: center;
  }
  
  .emojiFace {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
  }

  .addButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    background-color: rgba(123, 0, 255, 0.507);
    margin-top: 20px;
  }

  .addButton:hover {
    background-color: rgba(123, 0, 255, 0.815);
  }

  .inputField {
    border: 2px solid rgba(175, 114, 241, 0.301);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}